@import "mixins";
@import "fonts/MyriadPro-Regular/styles.css";
@myr: 'MyriadPro-Regular', Tahoma;

body{
	font-family: @myr;
    background: url(../img/irongrip.png);
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.maincontent{
	border-bottom: 5px solid #ccc;
	padding-bottom: 50px;
}
.wrapbtn{
	margin-top: 50px;
	text-align: center;
}
.wraparea{
	text-align: center;
}
.option{

}
.colorpicker-wrap{
  display: inline-block;
  .preview-color{
    width: 30px;
    height: 30px;
    border: solid 2px #BDBDBD;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
  }
}
.panel-heading{
  cursor: pointer;
  background: url(../img/random_grey_variations.png);
  &.active{
    background: url(../img/brushed_alu_dark.png);
  }
  h4{
    font-size: 20px;
    color: #ededed;
  }
}
.panel-body{
  background: url(../img/irongrip.png);
  label{
    font-family: consolas, monospace;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    .value{
      color: #C32472;
      text-shadow: 1px 2px 1px #000;
    }
  }
  .change-advanced{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/1up.png) 0 0 no-repeat;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    &.show-off{
      background-position: 0 -25px;
      display: none;
    }
  }
}
.tooltip.ch-advanced .tooltip-inner{
  background-color: #555;
  border-radius: 3px;
  border: 1px solid #fff;
}
.tooltip.ch-advanced .tooltip-arrow{
    border-left-color: #fff;
}
.advanced-mode{
    display: none;
    position: relative;
    label{
      font-size: 16px;
    }
}